@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.b-publishers-sub-nav {}

.b-publishers-sub-nav__list {
    @include reset-list;
}

.b-publishers-sub-nav__item {
    position: relative;
    font-size: calc(var(--base-factor) * 8px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: var(--black);
    margin-bottom: 10px;

    &::before {
        right: calc(100% + var(--aside-p-l));
        border: 10px solid transparent;
        border-right-color: white;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        top: -5px;
        pointer-events: none;
        opacity: 0;
    }
}

.b-publishers-sub-nav__item--active {
    font-weight: bold;
    &::before {
        opacity: 1;
    }
}

.b-publishers-sub-nav__item-row {}

.b-publishers-sub-nav__item-icon {
    --scale: calc(var(--base-factor) / 2);
    position: absolute;
    top: 0;
    @media (min-width: $breakpoint-mobile) {
        transform: scale(var(--scale)) translateY(-50%);
        left: calc(20px - var(--aside-p-l));
    }
    @media (max-width: $breakpoint-mobile - 1) {
        transform: scale(var(--scale));
        right: 0;
    }

}
